<form #forma="ngForm" (submit)="onSubmit()">
  <label for="nameInput">Name </label><input type="text" pInputText name="name" ngModel required #nameInput="ngModel"/><br/>
  <label for="surnameInput">Surname </label><input type="text" id="surnameInput" pInputText name="surname" ngModel required #surnameInput="ngModel"/><br/>
  <label for="usernameInput">Username </label><input type="text" name="username" id="usernameInput" pInputText ngModel required #usernameInput="ngModel" /><br/>
  <label for="passwordInput">Password </label><input type="password" name="password" ngModel required #passwordInput="ngModel"/><br/>
  <label for="phoneNumberInput">Phone number </label><input  name="phoneNumber" ngModel required #phoneNumberInput="ngModel"/><br/>
  <label for="interestsInput">Interests </label><br/>
  <p-multiSelect [options]="selectOptions" [(ngModel)]="selectedOptions" defaultLabel="Select interests" name="interests" ngModel #interestsInput="ngModel">

  </p-multiSelect>
  <br/>
  <button type="submit" [disabled]="forma.invalid">Register</button>
</form>
