<ul>
  <li><a routerLink="" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Home</a></li>
  <li *ngIf="!token"><a routerLink="login" routerLinkActive="active">Login</a></li>
  <li *ngIf="!token"><a routerLink="registration" routerLinkActive="active">Regstration</a></li>
  <li *ngIf="token"><a routerLink="events" routerLinkActive="active">Events</a></li>
  <li *ngIf="token"><a routerLink="my-events" routerLinkActive="active">My Events</a></li>
  <li *ngIf="token"><a routerLink="" (click)="logOut()">Log out</a></li>
</ul>
